.footer 
{
    padding: 20px;
    background-color: #000;
  }
  
  .footer-logo 
  {
    height: 50px;
    width: 180px;
    padding-top: 10px;
    margin-left: 35px;
  }
  
  .footer-columns
   {
    display: flex;
    justify-content: flex-start;
    gap: 50px; 
    margin-top: 20px;
    padding-left: 40px;
  }
  
  .footer-column 
  {
    display: flex;
    flex-direction: column;
  }
  
  .footer-heading
   {
    color: yellow;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-item 
  {
    color: white;
    font-size: 12px;
    margin: 4px 0;
  }
  .footer-social-link 
  {
    margin-top: 10px;
    display: inline-block;
  }
  
  .footer-social-icon
   {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin:10px;
    transition:transform 0.2s ease;
  }
  .footer-social-icon:hover {
    transform: scale(1.1);
  }
  .footer-line {
    height: 2px;
    background-color:whitesmoke;
    margin: 20px 40px;
  }
  